{% extends 'adm/adm_base.html' %}

{% block title %}Update Category{% endblock %}

{% block content %}
<div class="category-list-container">
    <h1>Update Category</h1>

    <form method="post" novalidate class="form-container">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn btn-update">Save</button>
            <a href="{% url 'list-category' %}" class="btn btn-delete">Back</a>
        </div>
    </form>
</div>
{% endblock %}
