{% extends 'adm/adm_base.html' %}

{% block title %}Food Detail – {{ food.name }}{% endblock %}

{% block content %}
    <div class="food-detail-container">
        <h1>{{ food.name }}</h1>
        <p><strong>Price:</strong> {{ food.price }} $</p>
        <p><strong>Description:</strong> {{ food.description }}</p>
        <p><strong>Category:</strong> {{ food.category.name }}</p><br><br>

        <button class="btn-update"><a href="{% url 'list-food' %}">Back to list</a></button>
    </div>
{% endblock %}
